<!-- components/logout-modal.html -->
<div id="logout-modal" class="global-modal-overlay" style="display: none;">
    <div class="global-modal-content">
        <div class="global-modal-icon">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <h3>Logout</h3>
        <p>Are you sure you want to log out of your account?</p>
        <div class="global-modal-actions">
            <button id="modal-cancel" class="global-btn-cancel">Cancel</button>
            <button id="modal-confirm" class="global-btn-confirm">
                <i class="fa-solid fa-power-off"></i> Logout
            </button>
        </div>
    </div>
</div>