<aside class="sidebar" id="app-sidebar" style="height: 100vh;">
    <div class="sidebar-brand">
        <span class="logo-icon">
            <img src="assets/grantee_logo.png" alt="Grantee Logo" style="width: 32px; height: 32px; object-fit: contain;">
        </span>
        <div>
            <h2>Grantee</h2>
            <span class="sub-brand">Smart Management</span>
        </div>
    </div>
    <nav class="sidebar-nav mt-20">
        <a href="student-dashboard.html" class="menu-item"><i data-lucide="layout-dashboard" style="width: 20px;"></i>
            Dashboard</a>
        <a href="student-scholarships.html" class="menu-item"><i data-lucide="graduation-cap"
                style="width: 20px;"></i> Available Programs</a>
        <a href="student-applications.html" class="menu-item"><i data-lucide="file-text"
                style="width: 20px;"></i> My Applications</a>
        <a href="student-announcements.html" class="menu-item"><i data-lucide="megaphone" style="width: 20px;"></i>
            Announcements</a>
        <a href="profile-settings.html" class="menu-item"><i data-lucide="user" style="width: 20px;"></i>
            Profile Settings</a>
    </nav>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>