<aside class="sidebar" id="app-sidebar">
    <div class="sidebar-brand">
        <span class="logo-icon"><i class="fa-solid fa-graduation-cap"></i></span>
        <div>
            <h2>Grantee</h2>
            <span class="sub-brand">Smart Management</span>
        </div>
    </div>
    <nav class="sidebar-nav mt-20">
        <a href="student-dashboard.html" class="menu-item"><i class="fa-solid fa-house" style="width: 20px;"></i> Dashboard</a>
        <a href="student-scholarships.html" class="menu-item"><i class="fa-solid fa-graduation-cap" style="width: 20px;"></i> Available Programs</a>
        <a href="student-applications.html" class="menu-item"><i class="fa-solid fa-file-lines" style="width: 20px;"></i> My Applications</a>
        <a href="student-announcements.html" class="menu-item"><i class="fa-solid fa-bullhorn" style="width: 20px;"></i> Announcements</a>
        <a href="profile-settings.html" class="menu-item"><i class="fa-solid fa-user" style="width: 20px;"></i> Profile Settings</a>
    </nav>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>